
{{ define "main" }}

{{ $page_topic := .Page.Params.topic}}
{{ $topic_key := $page_topic | lower }}
{{ $topic_key_url := $page_topic | urlize }}

<!-- Content from the markdown file -->
{{ .Content }}
<!-- Data Highlights -->
{{ $n_dh := len (.Site.Taxonomies.highlights_topics.Get $topic_key) }}
{{ if $n_dh }}
<h3><i class="bi bi-three-dots-vertical"></i> Data highlights ({{ $n_dh }})</h3>
<div class="container mt-3 mb-5">
  {{- partial "highlights.html" . -}}
  <div class="mt-2 fw-bold align-content-end">
    <a href="/highlights/topics/{{ $topic_key_url }}">See all data highlights on {{ $page_topic }} ({{ $n_dh }}) 
      <i class="bi bi-arrow-right-circle-fill"></i>
    </a>
  </div>
  <hr>
</div>
{{ end }}

<!-- Dashboards -->
{{ $n_db := len (.Site.Taxonomies.dashboards_topics.Get $topic_key) }}
{{ if $n_db }}
<h3><i class="bi bi-three-dots-vertical"></i> Dashboards ({{ $n_db }})</h3>
<div class="container mt-3 mb-5">
  {{- partial "dashboards.html" . -}}
  <div class="mt-2 fw-bold align-content-end"><a href="/dashboards/topics/{{ $topic_key_url }}">See all dashboards
    on {{ $page_topic }} ({{ $n_db }}) <i class="bi bi-arrow-right-circle-fill"></i></a></div>
<hr>
</div>
{{ end }}

{{ end }}