<nav class="navbar navbar-expand-lg navbar-light bg-white pb-0">
    <div class="container">
        <!-- Logo -->
        <div class="d-flex navbar-brand">
            <a href="/">
                <img class="mt-1 me-lg-3" src="{{ .Site.Params.portal_logo }}" alt="Node Pathogens Portal">
            </a>

            {{ if .Site.Params.node_logo }}
            <a target="_blank" href="{{ .Site.Params.node_url }}" class="d-none d-lg-block">
                <img class="px-2 py-lg-1" src="{{ relURL .Site.Params.node_logo }}" alt="Node Logo">
            </a>
            {{ end }}
        </div>

        <!-- Hamburger button, shows up only on smaller screen-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMobile" 
            aria-controls="navbarMobile" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Top navigation bar i.e. beside the logo -->
        <div class="d-flex flex-column align-items-end collapse navbar-collapse">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto navbar-top">
                    {{ range .Site.Menus.navbar_top }}
                    <li class="nav-item"><a class="nav-link" href="{{ .Page.RelPermalink }}">{{ .Name | safeHTML  }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
        <!-- ENDS HERE - Top navigation bar i.e. beside the logo -->
    </div>
</nav>

 <!-- Expandable top navigation menu, controlled by above defined hamburger button, only visible on small screens -->
 <nav class="navbar navbar-expand-lg navbar-light pt-0 pb-1">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarMobile">
            <div class="d-lg-none">

                <!-- Top nav list mobile version -->
                <ul class="navbar-nav nav-top">
                    {{ range .Site.Menus.navbar_top }}
                    <li class="nav-item"><a class="nav-link" href="{{ .Page.RelPermalink }}">{{ .Name | safeHTML }}</a></li>
                    {{ end }}
                </ul>
                <hr>

                <!-- Main navigation for all pages, visible only in small devices -->
                {{ range .Site.Menus.navbar_main }}
                    <div class="main_menu_item pb-1">
                    {{ if eq .Params.Type "dropdown" }}
                        {{ $menu := index $.Site.Menus .Identifier }} <!-- Use $.Site to refer to the site context -->
                        {{ if $menu }}
                            <a href="#{{ .Identifier }}Mobile" data-bs-toggle="collapse"  role="button"
                               aria-expanded="false" aria-controls="{{ .Identifier }}Mobile">
                               {{ .Name }} <i class="bi bi-caret-down-fill small"></i></a>
                            <div class="collapse main_menu_item_sub ps-4" id="{{ .Identifier }}Mobile">
                                {{ if eq .Params.include_parent true }}
                                <a class="d-block" href="{{ .Page.RelPermalink }}">All {{ lower .Name }}</a>
                                {{ end }}
                                {{ range $menu }}
                                <a class="d-block" href="{{ .Page.RelPermalink }}">{{ .Name }}</a>
                                {{ end }}
                            </div>
                        {{ end }}
                    {{ else }}
                        <a href="{{ .URL }}">{{ .Name }}</a>
                    {{ end }}
                    </div>
                {{ end }}

            </div>
        </div>
    </div>
</nav>
<!-- ENDS HERE - Expandable top navigation menu on small screens, controlled by above defined hamburger button -->

<!-- Main navigation menu, Visibile only on bigger screens -->
<div class="container mb-3 d-none d-lg-block">
    <div class="row row-cols-auto main_menu">

        {{ range .Site.Menus.navbar_main }}
            <div class="col-auto main_menu_item">
            {{ if eq .Params.Type "dropdown" }}
                {{ $menu := index $.Site.Menus .Identifier }} <!-- Use $.Site to refer to the site context -->
                {{ if $menu }}
                    <a class="dropdown-toggle" href="#" id="{{ .Identifier }}Menu"
                        data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">{{ .Name }}</a>
                    <div class="dropdown-menu main_menu_item_sub" aria-labelledby="{{ .Identifier }}Menu">
                        {{ if eq .Params.include_parent true }}
                        <a class="dropdown-item m-0" href="{{ .Page.RelPermalink }}">All {{ lower .Name }}</a>
                        {{ end }}
                        {{ range $menu }}
                        <a class="dropdown-item m-0" href="{{ .Page.RelPermalink }}">{{ .Name }}</a>
                        {{ end }}
                    </div>
                {{ end }}
            {{ else }}
                <a href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
            </div>
        {{ end }}
        
    </div>
</div>
<!-- Main navigation menu visible only on  bigger screens ends here -->
