{{ define "main" }}

<div class="mb-3">
  {{ .Content }}
</div>

<section>
  <div class="row mb-4">
    <div class="col-md-4">
      <div class="input-group">
        <span class="input-group-text"><i class="bi bi-search"></i></span>
        <input type="text" class="form-control" id="search-keywords" name="search-keywords" placeholder="Search Keywords" aria-label="Search" data-search-area="highlights_container">
      </div>
    </div>
  </div>
</section>

<!-- DH listing partial is called -->
<div id="highlights_container">
  {{- partial "highlights.html" . -}}
  <div id="no-filtered-dh" class="pt-2" style="display:none;">
    <p class="text-center">No data highlights have the given keyword, please try to use another.</p>
  </div>
</div>

<script>  
  // Function to filter the service based on search text
  $("input[type=text]").on("input", function(){
    // Get the text entered and service category 
    var searchText = $(this).val().toLowerCase();
    var searchArea = this.getAttribute('data-search-area');
    
    // Hide all services before filtering
    $(`div#highlights_container div.data-highlight`).hide();
    $(`div#no-filtered-dh`).hide();
    
    // If text empty show all services
    if (searchText == ''){
      $(`div#highlights_container div.data-highlight`).show();
    } else {
      $(`div#highlights_container div[data-search-tags*='${searchText}']`).show();
      // Display a message if no services available for given keyword
      var visible_services = $(`div#highlights_container div.data-highlight`).filter(":visible");
      if (!visible_services.length) {
        $(`div#no-filtered-dh`).show();
      }
    }
  });
</script>

{{ end }}